<div class="container">
    <div class="row">
        <div class="col l8 s12">
            <h5 class="white-text">Ez Learning</h5>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container right-align">
        <span>Made with <i class="far fa-heart"></i> by Donnatto</span>
        <a href="https://linkedin.com/in/donnatto"><i class="fab fa-linkedin white-text"></i></a>
        <a href="https://github.com/donnatto"><i class="fab fa-github white-text"></i></a>
        <a href="https://blog.donnatto.me"><i class="fas fa-code white-text"></i></a>
        <a href="https://instagram.com/donnatto_"><i class="fab fa-instagram white-text"></i></a>
    </div>
</div>
